<section class="panelz panelz--withTabs">
    <div class="scrollable scrollable--vertical">
        <form name="productForm" ng-keyup="" ng-mouseup="" ng-init="changePlan();">
            <div class="content padded">
                <customer-section data="baseObj.customers.insured"></customer-section>
                <!--form //-->


                <h2 class="mainTitle">{{'planinfo' | translate}}</h2>
                <div class="commonForm" style="padding: 30px 0;">
                    <h2 class="mainTitle">Product</h2>
                    <md-select name="productid" ng-model="baseObj.product.productgroup" required>
                        <md-option ng-repeat="n in getProductGroups();" ng-value="n.productgroupname">
                            {{n.productgroupname}}
                        </md-option>
                    </md-select>
                </div>
                <div class="commonForm" style="padding: 30px 0;">
                    <h2 class="mainTitle">Plan</h2>
                    <md-autocomplete required md-selected-item="baseObj.product.plan" md-selected-item-change="planChange()" md-search-text="searchText"
                        md-items="n in planSearch(searchText, baseObj.product.productgroup)" md-item-text="n.value" md-min-length="0"
                        flex=100>
                        <md-item-template>
                            <span md-highlight-text="searchText" md-highlight-flags="^i">{{n.value}}</span>
                        </md-item-template>
                        <md-not-found>
                            No plan matching "{{searchText}}" were found.
                        </md-not-found>
                    </md-autocomplete>
                </div>
                <baseplanfields planschama="getPlanSchema(baseObj.product.plan.key)"></baseplanfields>
                <div layout="row" ng-if="customForm(baseObj.product.plan.key)" ng-include="'app/customizations/views/baseplan/' + customForm(baseObj.product.plan.key) + '.html'">
                </div>
            </div>
        </form>
    </div>
</section>