<section class="panelz panelz--withTabs">
    <div class="scrollable scrollable--vertical">
        <form name="riderForm" ng-keyup="" ng-mouseup="" ng-init="baseObj.riders=setRiderList(baseObj.product.plan.key);">
            <div class="content padded">
                <customer-section data="baseObj.customers.insured"></customer-section>
                <product-section data="baseObj.product"></product-section>
                <h2 class="mainTitle">
                    {{'summary' | translate}}
                </h2>
                <div layout="row" layout-align="center end">
                    <div flex=10>
                        Coverage
                    </div>
                    <div flex=20>
                        Description
                    </div>
                    <div flex=10>
                        Face Amount
                    </div>
                    <div flex=60 layout="column">
                        <div>
                            Modal Premium
                        </div>
                        <div layout="row" layout-align="center end">
                            <div flex=25>Annual</div>
                            <div flex=25>Semi-annual</div>
                            <div flex=25>Quarterly</div>
                            <div flex=25>Monthly</div>
                        </div>
                    </div>
                </div>
                <div layout="row" layout-align="center end">
                    <div flex=10>
                        {{baseObj.product.plan.key}}
                    </div>
                    <div flex=20>
                        {{baseObj.product.plan.value}}
                    </div>
                    <div flex=10 layout-align="end end">
                        {{baseObj.product.faceamount | currency}}
                    </div>
                    <div flex=60 layout="row" layout-align="center end">
                        <div flex=25 layout-align="end end">{{baseObj.baseplan.premium.annual | currency}}</div>
                        <div flex=25 layout-align="end end">{{baseObj.baseplan.premium.semiannual | currency}}</div>
                        <div flex=25 layout-align="end end">{{baseObj.baseplan.premium.quarterly | currency}}</div>
                        <div flex=25 layout-align="end end">{{baseObj.baseplan.premium.monthly | currency}}</div>
                    </div>

                </div>


            </div>
        </form>
    </div>
</section>