<div layout="row" flex="100" ng-init="currentPlan = baseplanCtrl.getPlan(baseObj.product.plan.key)">
    <md-input-container class="md-block" flex="20" aria-label="">
        <md-select name="currency" ng-model="baseObj.product.currency" ng-init="baseObj.product.currency=currentPlan.currency;"
            ng-disabled="true" aria-label="" style="display:none">
            <md-option ng-value="currentPlan.currency" aria-label="">{{currentPlan.currency}}</md-option>
        </md-select>
         {{baseObj.product.currency}}
    </md-input-container>
    <md-input-container class="md-block" flex="40"><label>{{'basicsinglepremium'|translate}}</label><input ng-model="baseObj.product.basicsinglepremium" type="number" aria-label=""
            ng-change="baseObj.product.faceamount = baseObj.product.basicsinglepremium * currentPlan.initialfaceamount" required></md-input-container>
    <md-input-container
        class="md-block" flex="40"><label>{{'faceamount'|translate}}</label><input ng-model="baseObj.product.faceamount" type="number" aria-label="" readonly="readonly" style="display:none">
         {{baseObj.product.faceamount | currency}}
        </md-input-container>
        <md-input-container
            class="md-block" flex="40"><label>{{'deathbenefitoption'|translate}}</label><input 
            ng-model="baseObj.product.deathbenfitoption" ng-init="baseObj.product.deathbenfitoption=currentPlan.deathbenfitoption"
                aria-label="" style="display:none">
                {{baseObj.product.deathbenfitoption|translate}}
        </md-input-container>
</div>
<fundallocation>