<section>
    <md-card>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">{{'customerinfo' | translate }}</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <div layout="row">
                <div flex=25>{{'name' | translate }}:{{data.surname}} {{data.given}}</div>
                <div flex=25>{{'gender' | translate }}: {{data.gender}}</div>
                <div flex=25>{{'age' | translate }}: {{ data.dob | Age }}</div>
                <div flex=25>{{'smoker' | translate }}: {{ data.smoking | YesNo}}</div>
            </div>
        </md-card-content>
    </md-card>
</section>
