<div layout="row" flex="100">
    <div ng-repeat="f in currentPlan.funds" flex="25">{{f.name}}<br>
        <input type="number" min="0" max="100" ng-model="baseObj.product.funds[f.code].value" ng-init="
        baseObj.product.funds[f.code].value = (baseObj.product.funds[f.code].value == null? 
        baseplanCtrl.getFundSetting(currentPlan.planid, f.code).default : baseObj.product.funds[f.code].value)">
        <div ng-if="baseplanCtrl.getFundSetting(currentPlan.planid, f.code).startperiodyear != null">
            start year period:
            <input type="number" ng-model="baseObj.product.funds[f.code].startperiodyear" ng-init="baseObj.product.funds[f.code].startperiodyear = getFundSetting(currentPlan.planid, f.code).startperiodyear">
        </div>
    </div>
</div>
