<h2 class="mainTitle">{{'customerinfo' | translate }}</h2><section class="viewDetailBlock viewDetailBlock--firstBlock"><div class="viewDetailBlock__header"></div><div class="viewDetailBlock__content"><div class="grid"><section class="span12"><!--
                <div class="valuePairBlock">
                    <div class="valuePairBlock__leftBlock">
                        <span class="valuePairBlock__description">{{'name' | translate }}</span>
                    </div>
                    <div class="valuePairBlock__rightBlock">
                        <span class="valuePairBlock__value">{{data.surname}} {{data.given}}</span>
                    </div>
                </div>
//--><div class="valuePairBlock"><div class="valuePairBlock__leftBlock"><span class="valuePairBlock__description">{{'gender' | translate }}</span></div><div class="valuePairBlock__rightBlock"><span class="valuePairBlock__value">{{data.sex}}</span></div></div><div class="valuePairBlock"><div class="valuePairBlock__leftBlock"><span class="valuePairBlock__description">{{'age' | translate }}</span></div><div class="valuePairBlock__rightBlock"><span class="valuePairBlock__value">{{data.dob | Age}}</span></div></div><div class="valuePairBlock"><div class="valuePairBlock__leftBlock"><span class="valuePairBlock__description">{{'smoker' | translate }}</span></div><div class="valuePairBlock__rightBlock"><span class="valuePairBlock__value">{{data.smokingstatus}}</span></div></div></section><section class="span0"></section></div></div></section><debug></debug>