<h2 class="mainTitle">


    {{'planinfo' | translate}}</h2>

<section class="viewDetailBlock viewDetailBlock--firstBlock">
    <div class="viewDetailBlock__header">

    </div>
    <div class="viewDetailBlock__content">
        <div class="grid">
            <section class="span12">

                <div class="valuePairBlock">
                    <div class="valuePairBlock__leftBlock">
                        <span class="valuePairBlock__description">{{'product' | translate}}</span>
                    </div>
                    <div class="valuePairBlock__rightBlock">
                        <span class="valuePairBlock__value">{{data.productgroup}}</span>
                    </div>
                </div>

                <div class="valuePairBlock">
                    <div class="valuePairBlock__leftBlock">
                        <span class="valuePairBlock__description">{{'plancode' | translate}}</span>
                    </div>
                    <div class="valuePairBlock__rightBlock">
                        <span class="valuePairBlock__value">{{data.plan.value}}</span>
                    </div>
                </div>
            </section>

        </div>
    </div>
</section>

<debug />