<section class="panelz panelz--withTabs" ng-init="riderlist=riderCtrl.getRiderList(baseObj.product.plan.key)">
    <div class="scrollable scrollable--vertical">
        <form name="riderForm" ng-keyup="" ng-mouseup="">

            <customer-section data="baseObj.customers.insured"></customer-section>
            <product-section data="baseObj.product"></product-section>
            <div class="content padded">
                <h2 class="mainTitle">{{'rider' | translate}}</h2>
                <md-content class="md-subhead">
                    <md-grid-list md-cols-gt-md="8" md-cols="3" md-cols-md="3" md-row-height="2:1">
                        <md-grid-tile ng-repeat="item in riderlist">
                            <md-grid-tile-footer>
                                <md-checkbox ng-model="baseObj.product.riders[item].selected">

                                </md-checkbox>
                                {{item}}</md-grid-tile-footer>
                            <md-grid-tile-content>
                                <div class="sideBySideBlock sideBySideBlock--7030" ng-init="baseObj.product.riders[item].value = (baseObj.product.riders[item].value == null? 
                        0: baseObj.product.riders[item].value)">
                                    <md-input-container>


                                        <input type="number" ng-model="baseObj.product.riders[item].faceamount">
                                    </md-input-container>
                                </div>
                            </md-grid-tile-content>
                        </md-grid-tile>
                    </md-grid-list>
                </md-content>
            </div>
        </form>
        <debug data="baseObj.product.riders" />
    </div>
</section>