<section class="panelz panelz--withTabs" ng-init="currentPlan = riderCtrl.getPlan(baseObj.product.plan.key)">
    <div class="scrollable scrollable--vertical">
        <form name="riderForm" ng-keyup="" ng-mouseup="">
            <div class="content padded">
                <customer-section data="baseObj.customers.insured"></customer-section>
                <product-section data="baseObj.product"></product-section>
                <h2 class="mainTitle">{{'riderform' | translate}}</h2>
                {{currentPlan}}
                <div ng-repeat="item in currentPlan.riders;" layout="row">
                    {{item}}

                </div>
            </div>
        </form>
        </div>
</section>

{{riderCtrl.getPlan(baseObj.product.plan.key)}}

<div layout="row" flex="100">
    <div ng-repeat="f in currentPlan.funds" flex="25">{{f.name}}<br>
        <input type="number" min="0" max="100" ng-model="baseObj.product.funds[f.code].value" ng-init="
        baseObj.product.funds[f.code].value = (baseObj.product.funds[f.code].value == null? 
        baseplanCtrl.getFundSetting(currentPlan.planid, f.code).default : baseObj.product.funds[f.code].value)">
        <div ng-if="baseplanCtrl.getFundSetting(currentPlan.planid, f.code).startperiodyear != null">
            start year period:
            <input type="number" ng-model="baseObj.product.funds[f.code].startperiodyear" ng-init="baseObj.product.funds[f.code].startperiodyear = getFundSetting(currentPlan.planid, f.code).startperiodyear">
        </div>
    </div>
</div>
