<md-content class="md-padding">
    <!--panel session //-->
    <customer-section data="baseObj.customers.insured"></customer-section>
    <product-section data="baseObj.product"></product-section>

    <form name="riderForm" ng-keyup="" ng-mouseup="" ng-init="baseObj.riders=setRiderList(baseObj.product.plan.key);">

        <section>
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">{{'riderform' | translate}}</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <div ng-repeat="item in baseObj.riders;" layout="row" ng-init="ridersetting = getRiderSetting(item.ridercode)">
                        <div class="md-block" flex=25>
                            <md-input-container class="md-block" flex=25>
                                <md-checkbox
                                     ng-checked="exists(item, selectedRiders)" ng-click="toggle(item,  selectedRiders)">
                                    {{item.ridercode}}
                                </md-checkbox>
                            </md-input-container>
                        </div>
                        <div ng-if="!ridersetting.ridertype" ng-include="'customizations/views/rider/default.html?111'" class="md-block" flex=70
                            layout="row"></div>
                        <div ng-if="ridersetting==null || ridersetting.ridertype" ng-include="'customizations/views/rider/' + ridersetting.ridertype + '.html?333333'"
                            class="md-block" flex=70 layout="row"></div>
                    </div>
                </md-card-content>
            </md-card>
        </section>
    </form>


</md-content>